<header class="header">
  <div class="header__content">

    <a href="index.html" class="header__logo">Designer</a>

    <div class="header__menu menu">
      <div class="menu__icon icon-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <nav class="menu__body">
        <ul class="menu__list">
          <li><a href="works.html"    class="menu__link @@if(link==1) {active}">Work</a></li>
          <li><a href="blog.html"     class="menu__link @@if(link==2) {active}">Blog</a></li>
          <li><a href="contacts.html" class="menu__link @@if(link==3) {active}">Contact</a></li>
        </ul>
      </nav>
    </div>

  </div>
</header>