// МИКСИНЫ ==============================================================
@import 'mixins';
// /МИКСИНЫ =============================================================


// ШРИФТЫ ===============================================================

// Подключаем шрифты
// &display=swap
// &subset=cirillic-ext
@import url("https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900&display=swap&subset=cirillic-ext");
@import 'fonts';

// Иконочные шрифты
@import 'icons';

// Шрифт по умолчанию
$fontFamily: "Heebo";
$fontColor: #21243d;

// /ШРИФТЫ ==============================================================


// ПЕРЕМЕННЫЕ ===========================================================
$minWidth: 320px;
$maxWidth: 1152px;
$maxWidthContainer: 856px;
$md1: $maxWidthContainer + 12px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;
// /ПЕРЕМЕННЫЕ ==========================================================


// ОБНУЛЕНИЕ. ОБЩИЕ ПАРАМЕТРЫ ===========================================
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontFamily, sans-serif;
}

a {
  text-decoration: none;
  color: $fontColor;
  &:active {
    color: $fontColor;
  }
}

ul {
  list-style-type: none;
}

body {
  color: $fontColor;
  font-size: 14px;

  &.lock {
    overflow: hidden;
  }
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.loaded {

  }
}

// /ОБНУЛЕНИЕ. ОБЩИЕ ПАРАМЕТРЫ ==========================================


// ОСНОВНАЯ СЕТКА =======================================================
.container {
  max-width: $maxWidthContainer;
  margin: 0 auto;

  @media (max-width: $md1) {
    max-width: 750px;
  }
  @media (max-width: $md2) {
    max-width: none;
    padding: 0 10px;
  }
}
// /ОСНОВНАЯ СЕТКА ======================================================


// ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ =================
@import 'forms';
@import 'ui';
// /ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ ================


// ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТРАНИЦ И ЭЛЕМЕНТОВ ===============================
@import 'header';
@import 'footer';
@import 'home';
@import 'menu';
// /ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТРАНИЦ И ЭЛЕМЕНТОВ ==============================


// ОСНВОНОЙ БЛОК ========================================================
.page {
  padding: 90px 0 0 0;
  flex: 1 1 auto;
  
  @media (max-width: $md3) {
    padding: 30px 0 0 0;
  }
}
//=======================================================================
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  
  // .social__item
  &__item {
    margin: 0 17px;
    font-size: 30px;
    color: inherit;
    
    transition: color 0.3s ease 0s;
    
    @media (min-width: $md3) {
      &:hover {
        color: #ff6464;
      }
    }
  }
}
//=======================================================================

// /ОСНВОНОЙ БЛОК =======================================================
